.equipo{
    width: 100%;
    background-color: #d9f7e9;
    padding: 32px;
    box-sizing: border-box;
    text-align: center;
    font-size: 25px;
    position: relative;
}

.equipo h3{
    display: inline-block;
    font-weight: 400;
    color:#212121 ;
    border-bottom: 4px solid;
    padding-bottom: 8px;
}

.input-color{
    position: absolute;
    top: 30px;
    right: 50px;
}

.colaboradores{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

@media screen  and (max-width:767px){
    .equipo{
        padding: 25px;
        font-size: 20px;
    }
}
@media screen and (min-width:768px) and (max-width:1023px){
    .equipo{
        padding: 25px;
        font-size: 25px;
    }
}